# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# VS Code
.vscode

# GitHub
.github

# Dotenv file
.env

# MacOS System Files
.DS_Store
